/* .pagination__item--active a {
    color: #f0f0f0;
    background: #25259a;
    border: 1px solid #25259a;
  } */

  .pagination-item{
    color: #f0f0f0;
    background: #25259a;
    border: 1px solid #25259a;
  }

  .pagination--bs-pagination-focus-color{
    color: cadetblue;
    background-color: beige;
    border:black;
  }

  
  